language: python

python:
  - 3.8

services:
  - docker

before_install:
  - sudo docker network create elastic8
  - >
    sudo docker run -d --name elasticsearch8 --net elastic8 -p 9201:9200 -p 9301:9300 
    -e "xpack.security.enabled=false" 
    -e "discovery.type=single-node" 
    -e "cluster.name=docker-es8"
    docker.elastic.co/elasticsearch/elasticsearch:8.19.3
  - sudo docker network create elastic6
  - >
    sudo docker run -d --name elasticsearch6 --net elastic6 -p 9200:9200 -p 9300:9300
    -e "xpack.security.enabled=false" 
    -e "discovery.type=single-node" 
    -e "cluster.name=docker-es6"
    docker.elastic.co/elasticsearch/elasticsearch:6.7.1
  - sleep 60
  - curl http://localhost:9200
  - curl http://localhost:9201

install:
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - nvm install
  - nvm use
  - npm install
  #- npm i vega@5.25.0

script:
  - flake8 .
  - black --check .
  - pytest
  - coverage xml -o coverage.xml

after_success:
  - codecov -t 8467f17f-e0d1-429d-93f6-8336ccab8248
